pandas
numpy
pydantic
python-dotenv

streamlit

pypdf
pdfplumber
requests
beautifulsoup4

sentence-transformers
faiss-cpu

langchain
langchain-community
langgraph

ollama

reportlab

pytest
pytest-cov

pymupdf

langchain-ollama



